In [2]:
import numpy as np
import matplotlib.pyplot as plt  #Learn Dot plot and tree map and countplot also
import pandas as pd
import seaborn as sns
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
#plt.scatter(df['Embarked'],df.Fare)

In [31]:
#Preprocessing
y = df.Survived
X = df.drop(['Survived','PassengerId','Name','Ticket','Cabin'],axis=1)


X['Age'].fillna(X['Age'].mean(), inplace=True)

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
lab_enc_x = LabelEncoder()
X['Sex'] = lab_enc_x.fit_transform(X['Sex'])

X = pd.concat([X, pd.get_dummies(X['Embarked'])], axis=1)
X = X.drop(['Embarked',],axis=1)

In [18]:
#Rough  DONT COMPILE
bokka =  X.Cabin.isnull()
for i in range(len(X)):
    if bokka[i] == False:
        X.Cabin[i] = 1
    else: X.Cabin[i] = 0

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [32]:
X.head(20)

    Pclass  Sex        Age  SibSp  Parch     Fare  C  Q  S
0        3    1  22.000000      1      0   7.2500  0  0  1
1        1    0  38.000000      1      0  71.2833  1  0  0
2        3    0  26.000000      0      0   7.9250  0  0  1
3        1    0  35.000000      1      0  53.1000  0  0  1
4        3    1  35.000000      0      0   8.0500  0  0  1
5        3    1  29.699118      0      0   8.4583  0  1  0
6        1    1  54.000000      0      0  51.8625  0  0  1
7        3    1   2.000000      3      1  21.0750  0  0  1
8        3    0  27.000000      0      2  11.1333  0  0  1
9        2    0  14.000000      1      0  30.0708  1  0  0
10       3    0   4.000000      1      1  16.7000  0  0  1
11       1    0  58.000000      0      0  26.5500  0  0  1
12       3    1  20.000000      0      0   8.0500  0  0  1
13       3    1  39.000000      1      5  31.2750  0  0  1
14       3    0  14.000000      0      0   7.8542  0  0  1
15       2    0  55.000000      0      0  16.0000  0  0  1
16       3    1   2.000000      4      1  29.1250  0  1  0
17       2    1  29.699118      0      0  13.0000  0  0  1
18       3    0  31.000000      1      0  18.0000  0  0  1
19       3    0  29.699118      0      0   7.2250  1  0  0

TypeError: 'numpy.dtype' object is not callable

In [33]:
#Train Test Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [34]:
y_df = pd.DataFrame()

In [35]:
#Logistic Regression
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression().fit(X_train,y_train)
y_df['Logistic'] = clf.predict(X_test)
y_pred2 = clf.predict(X_train)

acc2=accuracy_score(y_train, y_pred2)
acc1=accuracy_score(y_test, y_df['Logistic'])
print(acc2, acc1)

0.800561797752809 0.7988826815642458

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [36]:
#Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion='entropy',random_state=0)
classifier.fit(X_train,y_train)
y_df['DecTree'] = classifier.predict(X_test)
y_pred2 = classifier.predict(X_train)

acc2=accuracy_score(y_train, y_pred2)
acc1=accuracy_score(y_test, y_df['DecTree'])
print(acc2, acc1)

0.9817415730337079 0.7821229050279329

In [75]:
#Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=20,criterion='entropy',random_state=1)
classifier.fit(X_train,y_train)
y_df['RanFor'] = classifier.predict(X_test)
y_pred2 = classifier.predict(X_train)

acc2=accuracy_score(y_train, y_pred2)
acc1=accuracy_score(y_test, y_df['RanFor'])
print(acc2, acc1)

0.9691011235955056 0.8324022346368715

In [42]:
#SVM Classifier
from sklearn.svm import SVC
classifier = SVC(kernel='rbf')
classifier.fit(X_train,y_train)
y_df['SVM'] = classifier.predict(X_test)
y_pred2 = classifier.predict(X_train)

acc2=accuracy_score(y_train, y_pred2)
acc1=accuracy_score(y_test, y_df['SVM'])
print(acc2, acc1)

0.6643258426966292 0.7206703910614525

In [39]:
#Naive Bayes Classifier
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train,y_train)
y_df['Naive'] = classifier.predict(X_test)
y_pred2 = classifier.predict(X_train)

acc2=accuracy_score(y_train, y_pred2)
acc1=accuracy_score(y_test, y_df['Naive'])
print(acc2, acc1)

0.7879213483146067 0.7988826815642458

In [29]:
#XGBoost
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X_train,y_train)
y_df['XGB'] = classifier.predict(X_test)
y_pred2 = classifier.predict(X_train)

acc2=accuracy_score(y_train, y_pred2)
acc1=accuracy_score(y_test, y_df['XGB'])
print(acc2, acc1)

ValueError: DataFrame.dtypes for data must be int, float or bool.
                Did not expect the data types in fields Cabin

In [63]:
#KNN Classifier
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=9,metric='minkowski',p=2)
classifier.fit(X_train,y_train)
y_df['KNN'] = classifier.predict(X_test)
y_pred2 = classifier.predict(X_train)

acc2=accuracy_score(y_train, y_pred2)
acc1=accuracy_score(y_test, y_df['KNN'])
print(acc2, acc1)

0.7626404494382022 0.7430167597765364

In [74]:
y_df.head()

   Logistic  DecTree  RanFor  SVM  Naive  XGB  KNN  pred
0         0        0       0    0      0    0    0     0
1         0        0       0    0      0    0    0     0
2         0        0       0    0      0    0    0     0
3         1        1       1    0      1    1    1     1
4         1        0       0    0      1    0    0     0

In [73]:
y_df['pred'] = 0
for i in range(len(y_df)):
    if y_df.iloc[i,:-1].mean() > 0.5:
        y_df['pred'][i] = 1
    else: y_df['pred'][i] = 0

In [75]:
#Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_df['pred'])
print(cm)

[[99 11]
 [19 50]]

In [5]:
#Final Training XGBoost
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X,y)
#y_df['XGB'] = classifier.predict(X_test)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [52]:
df2 = pd.read_csv('test.csv')
df2.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [56]:
#Preprocessing
X2 = df2.drop(['PassengerId','Name','Ticket','Cabin'],axis=1)

X2['Age'].fillna(X['Age'].mean(), inplace=True)

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
lab_enc_x = LabelEncoder()
X2['Sex'] = lab_enc_x.fit_transform(X2['Sex'])

X2 = pd.concat([X2, pd.get_dummies(X2['Embarked'])], axis=1)
X2 = X2.drop(['Embarked',],axis=1)

In [57]:
output = pd.DataFrame()
output['PassengerId'] = df2.PassengerId

In [76]:
output['Survived'] = classifier.predict(X2)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [74]:
X2.max()

Pclass      3.000000
Sex         1.000000
Age        76.000000
SibSp       8.000000
Parch       9.000000
Fare      512.329224
C           1.000000
Q           1.000000
S           1.000000
dtype: float64

In [67]:
X2.iloc[:,2] = X2.iloc[:,2].astype('float32') 
X2.iloc[:,5] = X2.iloc[:,5].astype('float32')

In [29]:
output.to_csv('submission.csv')